
.header-color
{
    background-color: rgba(38, 70, 83, 1);
}

.btn-color
{
    background-color:rgba(231, 111, 81, 1);
}

.text-alt-color{
    color: orangered;

}

.img-filter
{
    filter: grayscale(100%);
}